{% extends 'AdymaMainBundle::section.html.twig' %}
{% block title %} {{ 'seo.index.title'|trans }} - Accesorios de cocina {% endblock title %}
{% block description %}{{ 'seo.index.description'|trans }}{% endblock description %}
{% block keywords %}{{ 'seo.index.keywords'|trans }}{% endblock keywords %}
{% block headcontent %}
    <img src={{ asset('bundles/adymamain/images/sections/int/acc_head.png') }}>
    <h3>Accesorios de cocina</h3>
    <p></p>
{% endblock %}
{% block undercontent %}
<div class="pleft">
    <p><span class="bolduppercase">ADYMA-INOX</span> se introduce en el mundo de la cocina doméstica para dar servicio a diseñadores, interioristas y arquitectos con las posibilidades que ofrece el acero inoxidable.
    <br><br>
    Forros de pared, encimeras, campanas extractoras y un largo etc... componen los productos que ponemos a disposición del mercado para personalizar su cocina.
    <br><br>
    Nos ceñimos a las necesidades de su instalación ofreciendoles una amplia gama de cubetas soldadas, fregaderos, bastidores, mesas de entrega de sucio, etc...
    </p>
    </div>
    <div class="pright">
        <h4>COMFORT, HIGIENE Y ADAPTABILIDAD</h4>
        <p class="whitext">
        Al estar fabricados a medida son ideales para completar la instalación de cocinas del hogar, una cocina de fácil limpieza, una higiene impecable y una durabilidad y resistencias destacables.
        </p>
    </div>
    <div class="minishow">
      <p class="nopadding">Estos son algunos de los productos que le ayudarán a optimizar el espacio de sus instalaciones:</p>
      <ul class="gallery">
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/acc_cocina/1.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/acc_cocina/1.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/acc_cocina/2.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/acc_cocina/2.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/acc_cocina/3.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/acc_cocina/3.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/acc_cocina/4.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/acc_cocina/4.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/acc_cocina/5.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/acc_cocina/5.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/acc_cocina/6.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/acc_cocina/6.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/acc_cocina/7.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/acc_cocina/7.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
      </ul>
    </div>
{% endblock %}
