{% extends 'AdymaMainBundle::section.html.twig' %}
{% block title %} {{ 'seo.index.title'|trans }} - Barbacoas {% endblock title %}
{% block description %}{{ 'seo.index.description'|trans }}{% endblock description %}
{% block keywords %}{{ 'seo.index.keywords'|trans }}{% endblock keywords %}
{% block headcontent %}
    <img src={{ asset('bundles/adymamain/images/sections/int/barb_head.png') }}>
    <h3>Barbacoas</h3>
    <p></p>
{% endblock %}
{% block undercontent %}
<div class="pleft">
    <p>Barbacoas fabricadas integramente en Acero inoxidable, combina la robustez y calidad con la sencillez y ligereza.
    <br><br>
    Perfectas para cocinar todo tipo de carnes, pescados, mariscos, etc, usando como fuente de calor la brasa de carbón vegetal, ya que confiere una presentación única y un sabor característico a los alimentos.
    <br><br>
    </p>
    </div>
    <div class="pright">
        <h4>SABOR ÚNICO</h4>
        <p class="whitext">
        Gracias a las características de nuestras barbacoas, se pueden cocinar los alimentos de manera que gracias al carbón vegetal este, le confiere un sabor inigualable y que no se puede alcanzar con otros combustibles.
        </p>
    </div>
    <div class="minishow">
        <p class="nopadding">Estos son algunos de los productos que le ayudarán a optimizar el espacio de sus instalaciones:</p>
        <ul class="gallery">
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/barbacoa/1.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/barbacoa/1.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/barbacoa/2.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/barbacoa/2.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/barbacoa/3.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/barbacoa/3.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/barbacoa/4.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/barbacoa/4.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/barbacoa/5.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/barbacoa/5.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/barbacoa/6.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/barbacoa/6.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
        </ul>
    </div>
{% endblock %}
