{% extends 'AdymaMainBundle::section.html.twig' %}
{% block title %} {{ 'seo.index.title'|trans }} - Cerrajería{% endblock title %}
{% block description %}{{ 'seo.index.description'|trans }}{% endblock description %}
{% block keywords %}{{ 'seo.index.keywords'|trans }}{% endblock keywords %}
{% block headcontent %}
    <img src={{ asset('bundles/adymamain/images/sections/int/cerraj_head.png') }}>
    <h3>Decoración<br>Cerrajeria</h3>
    <p></p>
{% endblock %}
{% block undercontent %}
<div class="pleft">
    <p>
    <br><br>
    <span class="bolduppercase">ADYMA-INOX</span> apuesta por el Acero inoxidable en el mundo de la cerrajería decorativa por su capacida de adaptación tanto en interior como en exterior para la fabrcicación de diferentes productos.
    <br><br>
    Pasamanos, barandillas, puertas, escaparates, carteles, cerramientos, son alagunos de los productos que componen el catálogo de <span class="bolduppercase">ADYMA-INOX</span> en el mundo de la cerrajería decorativa.
    </p>
    </div>
    <div class="pright">
        <h4>VARIEDAD Y PERSONALIZACIÓN</h4>
        <p class="whitext">
        La gran variedad de acabados disponibles, en relieve o clásicos, permite encontrar soluciones para los proyectos de arquitectos, interioristas, diseñadores, etc.. En función de las características estéticas y funcionales a aplicar.
        </p>
    </div>
    <div class="minishow">
      <p class="nopadding">Estos son algunos de los productos que le ayudarán a optimizar el espacio de sus instalaciones:</p>
      <ul class="gallery">
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/1.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/1.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/2.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/2.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/3.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/3.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/4.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/4.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/5.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/5.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/6.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/6.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/7.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/7.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/8.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/8.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/9.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/9.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/10.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/10.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/11.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/cerrajerias/11.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
      </ul>
    </div>
{% endblock %}
