{% extends 'AdymaMainBundle::section.html.twig' %}
{% block title %} {{ 'seo.index.title'|trans }} - Coctelería {% endblock title %}
{% block description %}{{ 'seo.index.description'|trans }}{% endblock description %}
{% block keywords %}{{ 'seo.index.keywords'|trans }}{% endblock keywords %}
{% block headcontent %}
    <img src={{ asset('bundles/adymamain/images/sections/int/coct_head.png') }}>
    <h3>Estaciones de <br> Coctelería</h3>
    <p></p>
{% endblock %}
{% block undercontent %}
<div class="pleft">
    <p>Nuestras estaciones de coctelería se fabrican íntegramente en acero inoxidable AISI-304, cumpliendo los máximos niveles de calidad.
    <br><br>
    Diseñamos y fabricamos Estaciones de Coctelería a medida, obteniendo un gran aprovechamiento de la zona de la barra, según las necesidades de los barman más exigentes.
    <br><br>
    Aseguran una zona de trabajo completa. con encimera continua, sin juntas de unión, fabricadas en una sola pieza.
    <br><br>
    Nuestras Estaciones de Coctelería modulares, se adaptan a cualquier tipo de barra, dando libertad al barman para modificar su disposición según las condiciones de trabajo.
    </p>
    </div>
    <div class="pright">
        <h4>ERGONOMÍA Y PRODUCTIVIDAD</h4>
        <p class="whitext">
        Nuestras estaciones de Coctelería, poseen un diseño ergonómico, el cual perite al barman acceder a todos los elementos necesarios para ofrecer a sus clientes la mayor variedad de cocktails.
        </p>
    </div>
    <div class="minishow">
      <p class="nopadding">Estos son algunos de los productos que le ayudarán a optimizar el espacio de sus instalaciones:</p>
      <ul class="gallery">
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/cocteleria/1.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/cocteleria/1.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/cocteleria/2.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/cocteleria/2.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/cocteleria/3.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/cocteleria/3.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/cocteleria/4.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/cocteleria/4.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/cocteleria/5.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/cocteleria/5.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
          <li>
            <a href={{ asset('bundles/adymamain/images/sections/int/product/cocteleria/6.jpg')}}>
              <img src={{ asset('bundles/adymamain/images/sections/int/product/cocteleria/6.jpg') | imagine_filter('profile')  }} alt="">
            </a>
          </li>
      </ul>
    </div>
{% endblock %}
