{% extends 'AdymaMainBundle::section.html.twig' %}
{% block title %} {{ 'seo.index.title'|trans }} - Hostelería {% endblock title %}
{% block description %}{{ 'seo.index.description'|trans }}{% endblock description %}
{% block keywords %}{{ 'seo.index.keywords'|trans }}{% endblock keywords %}
{% block headcontent %}
    <img src={{ asset('bundles/adymamain/images/sections/int/comp_head.png') }}>
    <h3>Hostelería</h3>
    <p>Complementos</p>
{% endblock %}
{% block undercontent %}
    <div class="pleft">
    <p><span class="bolduppercase">ADYMA-INOX</span> pone a su disposición una amplia gama de complementos para facilitar el trabajo diario con sus productos.
    <br><br>
    Cajoneras, Puertas abatibles o correderas, gomas desbrazado, paneras, módulos con guías para bandejas, cuchilleros, forros de pared, speed rail, etc... Son algunos de los complementos que permiten personalizar la instalación y dotarla de todas las necesidades para su correcto funcionamiento.
    </p>
    </div>

    <div class="pright">
        <h4>PERSONALIZACIÓN Y VERSATILIDAD</h4>
        <p class="whitext">
        Los elementos más esenciales de su instalación, nos ajustamos a sus necesidades para completar el conjunto de su negocio.
        </p>
    </div>
    <div class="minishow">
        <p class="nopadding">Estos son algunos de los productos que le ayudarán a optimizar el espacio de sus instalaciones:</p>
        <ul class="gallery">
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/hosteleria/complementos/1.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/hosteleria/complementos/1.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/hosteleria/complementos/2.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/hosteleria/complementos/2.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/hosteleria/complementos/3.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/hosteleria/complementos/3.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/hosteleria/complementos/4.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/hosteleria/complementos/4.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/hosteleria/complementos/5.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/hosteleria/complementos/5.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/hosteleria/complementos/6.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/hosteleria/complementos/6.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/hosteleria/complementos/7.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/hosteleria/complementos/7.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/hosteleria/complementos/8.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/hosteleria/complementos/8.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/hosteleria/complementos/9.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/hosteleria/complementos/9.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
        </ul>
    </div>
{% endblock %}
