<!DOCTYPE html>
<html>
<head>
    <!--Facebook OpenGraphs-->
    <meta property="og:image" content="http://adymainox.com/bundles/adymamain/images/opengraph.jpg"/>
    <meta property="og:title" content="Adyma Inox - Aceros Inoxidables"/>
    <meta property="og:url" content="http://www.adymainox.com"/>
    <meta property="og:site_name" content="Adyma Inox"/>
    <meta property="og:type" content="Website"/>
    <meta property="og:description" content="{% block descriptionface %}{% endblock %}"/>
    <!--Meta tags Generales-->
    <meta http-equiv="content-language" content="es">
    <meta name="author" content="ADYMAINOX">
    <meta name="copyright" content="2014 © Adyma Inox">
    <meta name="robots" content="all | index | follow">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% javascripts
    '@AdymaMainBundle/Resources/public/js/jquery-1.11.1.min.js'
    '@AdymaMainBundle/Resources/public/js/cookies/jquery.cookie.js'
    '@AdymaMainBundle/Resources/public/js/cookies/cookiecuttr.js'
    '@AdymaMainBundle/Resources/public/js/magnific-popup.min.js'
    '@AdymaMainBundle/Resources/public/js/main.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% stylesheets
    'bundles/adymamain/css/main.css'
    'bundles/adymamain/css/normalize.css'
    'bundles/adymamain/css/magnific-popup.css'
    'bundles/adymamain/css/cookiecuttr.css'
    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block head %}{% endblock %}
</head>
<body>
    <div id="infolegal" class="infls">
        <div>
            <p>Razón social:<br> Acero Diseño y Manufactura S.l</p>
            <p>Dirección social:<br> C/ Calderers 56 Poligono del mar</p>
            <p>Tel.:<br> 961861241</p>
            <p>Forma jurídica: <br> Sociedad Limitada Laboral</p>
            <p>Capital:…</p>
            <p>C.I.F.:<br> B-98148182</p>
            <p>Director/es:<br> Antonio Casero Corcoles, Antonio Fuentes Romero, Jose Fco Muñoz Carrasco</p>
        </div>
    </div>
    <div class="bodywrapper">
    <nav>
        <p class="menunavtrigger" id="menunavtr">Menú</p>
        <ul id="expand">
            <li>
                <a href="{{ path('homepage') }}">{{ 'menu.inicio'|trans }}</a>
            </li>
            <li class="navliesp">
                <a href="#">{{ 'menu.hosteleria'|trans }}</a>
                 <ul class=" submenul nopadding">
                    <li class="submenuli nofloat two">
                        <a href="{{ path('armarios') }}">{{ 'submenu.armarios'|trans }}</a>
                    </li>
                    <li class="submenuli nofloat two">
                        <a href="{{ path('campanas') }}">{{ 'submenu.campanas'|trans }}</a>
                    </li>
                    <li class="submenuli nofloat two">
                        <a href="{{ path('carros') }}">{{ 'submenu.carros'|trans }}</a>
                    </li>
                    <li class="submenuli nofloat two">
                        <a href="{{ path('cuartosfrios') }}">{{ 'submenu.cuartosfrios'|trans }}</a>
                    </li>
                    <li class="submenuli nofloat two">
                        <a href="{{ path('lavavajillas') }}">{{ 'submenu.mesaslava'|trans }}</a>
                    </li>
                    <li class="submenuli nofloat two">
                        <a href="{{ path('cafeteros') }}">{{ 'submenu.cafeteros'|trans }}</a>
                    </li>
                    <li class="submenuli nofloat two">
                        <a href="{{ path('mesastrabajo') }}">{{ 'submenu.mesastrabajo'|trans }}</a>
                    </li>
                    <li class="submenuli nofloat two">
                        <a href="{{ path('complementos') }}">{{ 'submenu.complementos'|trans }}</a>
                    </li>
                    <li class="submenuli nofloat two">
                        <a href="{{ path('mesaslavado') }}">{{ 'submenu.mesaslavado'|trans }}</a>
                    </li>
                </ul>
            </li>
            <li class="navliesp">
                <a href="#">{{ 'menu.mobiliario'|trans }}</a>
                 <ul class=" submenul nopadding">
                    <li class="submenuli nofloat two">
                        <a href="{{ path('naval') }}">{{ 'menu.naval'|trans }}</a>
                    </li>
                    <li class="submenuli nofloat two">
                        <a href="{{ path('laboratorio') }}">{{ 'menu.laboratorios'|trans }}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ path('cerrajeria') }}">{{ 'menu.cerrajeria'|trans }}</a>
            </li>
            <li class="navliesp">
                <a href="{{ path('barbacoas') }}">{{ 'menu.barbacoas'|trans }}</a>
                <ul>
                    <li class="navlisub">
                        <a href="{{ path('kcone') }}">{{ 'menu.kcone'|trans }}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ path('accocina') }}">{{ 'menu.accesorioscocina'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('cocteleria') }}">{{ 'menu.cocktail'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('contacto') }}">{{ 'menu.contacto'|trans }}</a>
            </li>
        </ul>
    </nav>
    {% block body %}{% endblock %}
    </div>
    <footer>
        <p> {{ 'footer.direction'|trans }} | <a class="infl" href="#">{{ 'footer.legal'|trans }}</a></p>
        <div class="socialfoo">
            <a href="https://www.facebook.com/adyma.inox"><img src={{ asset('bundles/adymamain/images/social/fb.png') }} alt="Facebook"></a>
            <a href="https://plus.google.com/100754836044845397564/posts"><img src={{ asset('bundles/adymamain/images/social/gplus.png') }} alt="Google +"></a>
            <a href="https://twitter.com/Adyma_Inox"><img src={{ asset('bundles/adymamain/images/social/twitter.png') }} alt="Twitter"></a>
            <!--<a class="scrollToTop" href=""><img src={{ asset('bundles/adymamain/images/gotop.png') }} alt="Go Top"></a>-->
        </div>
    </footer>
    <!--Analytics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55530290-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script>
    $(document).ready(function () {
        $.cookieCuttr({
        cookieAnalytics: true,
        cookieWhatAreTheyLink: 'http://www.allaboutcookies.org/es/',
        cookieAnalyticsMessage: "Hacemos uso de cookies, para monitorizar las visitas a nuestra web, no guardamos ningún tipo de información personal.",
        });
    });
    </script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
