{% extends 'AdymaMainBundle::section.html.twig' %}
{% block title %} {{ 'seo.index.title'|trans }} {% endblock title %}
{% block description %}{{ 'seo.index.description'|trans }}{% endblock description %}
{% block keywords %}{{ 'seo.index.keywords'|trans }}{% endblock keywords %}
{% block headcontent %}
    <img src={{ asset('bundles/adymamain/images/sections/int/lab_head.png') }}>
    <h3>Mobiliario para Laboratorios</h3>
    <p></p>
{% endblock %}
{% block undercontent %}
<div class="pleft">
    <p><span class="bolduppercase">ADYMA-INOX</span> pone a su disposición su experiencia para la fabricación de mobiliario a medida para laboratorios en acero inoxidable.
    <br><br>
    Basandonos en su proyecto y necesidades le fabricamos a medida los muebles para sus instalaciones.
    <br><br>
    Le brindamos una amplia gama de productos en Acero inoxidable, fabricados a medida para completar su instalación. Mesas centrales y murales, mesas antivibratorias, armarios, estanterías, grifería, fregaderos, encimeras, módulo de cajones, etc...
    </p>
    </div>
    <div class="pright">
        <h4>A MEDIDA</h4>
        <p class="whitext">
        Todos nuestros muebles de Acero inoxidable se fabrican a medida, por lo que ofrecemos soluciones personalizadas para sus proyectos e instalaciones.
        </p>
    </div>
    <div class="minishow">
        <p class="nopadding">Estos son algunos de los productos que le ayudarán a optimizar el espacio de sus instalaciones:</p>
        <ul class="gallery">
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/11.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/1.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/12.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/2.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/13.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/3.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/14.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/4.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/5.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/5.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/6.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/6.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/7.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/7.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/8.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/8.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/9.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/9.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/10.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/laboratorios/10.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
        </ul>
    </div>
{% endblock %}
