{% extends 'AdymaMainBundle::section.html.twig' %}
{% block title %} {{ 'seo.index.title'|trans }} {% endblock title %}
{% block description %}{{ 'seo.index.description'|trans }}{% endblock description %}
{% block keywords %}{{ 'seo.index.keywords'|trans }}{% endblock keywords %}
{% block headcontent %}
    <img src={{ asset('bundles/adymamain/images/sections/int/naval_head.png') }}>
    <h3>Mobiliario Naval</h3>
    <p></p>
{% endblock %}
{% block undercontent %}
<div class="pleft">
    <p>El sector naval es posiblemente el más propicio para el empleo de acero inoxidable fabricado a medida. Gracias a sus propiedades y unido a las peculiaridades y dureza del entorno de la instalación.
    <br><br>
    Constituye el marco perfecto para la fabricación de mobiliario a medida en acero inoxidable.
    <br><br>
    Gozamos de una acreditada experiencia en la construcción de mobiliario a medida para empresas líderes
    del sector.
    </p>
    </div>
    <div class="pright">
        <h4>MARCANDO LA DIFERENCIA</h4>
        <p class="whitext">
        En las instalaciones navales, donde la diferencia es la norma, el trabajo a medida en ADYMA-INOX cobra toda su intensad aportando soluciones a nuestros clientes.
        </p>
    </div>
    <div class="minishow">
        <p class="nopadding">Estos son algunos de los productos que le ayudarán a optimizar el espacio de sus instalaciones:</p>
        <ul class="gallery">
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/naval/1.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/naval/1.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/naval/23.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/naval/2.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/naval/3.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/naval/3.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/naval/4.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/naval/4.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/naval/53.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/naval/5.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
            <li>
              <a href={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/naval/63.jpg')}}>
                <img src={{ asset('bundles/adymamain/images/sections/int/product/mobiliario/naval/6.jpg') | imagine_filter('profile')  }} alt="">
              </a>
            </li>
        </ul>
    </div>
{% endblock %}
