@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    height: 100%;
}
body{
    height: 100%;
}
input{
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
    margin: 10px !important;
    border-radius: 5px;
    border: none;
    padding: 5px 30px;
    font-size: 12px;
}
textarea{
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
    margin: 10px !important;
    border-radius: 5px;
    border: none;
    width: 95%;
    padding: 10px 10px;
    height: 100px;
    font-size: 12px !important;
}
.nofloat{
    float:none;
}
.expand{
    height:100% !important;
}
.nopadding{
    padding:0 !important;
}
.bolduppercase{
    font-weight: bold;
    text-transform: uppercase;
}
.whitext{
    color:white;
}
.blockscroll{
    overflow:hidden;
}
.bodywrapper{
    min-height: 100%;
    margin-bottom: -10px;
    height: 100%;
    z-index: -1;
    overflow: auto;
}
nav{
    width: 100%;
}
nav ul{
    margin: 0 auto;
    list-style-type: none;
    max-width: 860px;
}
nav ul li{
    margin-top: 20px;
    float: left;
    padding-left: 7px;
    padding-right: 7px;
    border-left: 1px solid white;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-bottom:2px solid transparent;
    padding-bottom: 2px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.menunavtrigger{
    display:none;
}
.navliesp{
    width: 7.4%;
    height: 18px;
    overflow: hidden;
}
.navliesp:hover{
    overflow: initial;
    height: auto;
    padding-bottom: 8px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.submenul{
    padding-bottom: 10px;
    width: 189px;
    margin-bottom: -9px;
}
.submenuli{
    margin-top: 15px;
    position: relative;
    border: none;
    text-align: initial;
}
.submenuli a:hover{
    border: none;
}
.navlisub{
    margin-top: 15px;
    position: relative;
    left: -43px;
    border: none;
    padding-right: 16px;
    width: 51px;
    border-right: 1px solid white;
}
.navlisub:hover{
    background: rgba(255, 255, 255, 0.32);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.two{
    width: 155px;
    border-left: none;
    border-right: 1px solid white;
    padding-top: 1px;
    padding-bottom: 1px;
}
.two:hover{
    background: rgba(255, 255, 255, 0.32);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
footer{
    height: 30px;
    width: 100%;
    font-size: 12px;
    background: #111111;
    color: white;
    margin-top: 25px;
    text-align: center;
}
footer a {
    color:white;
}
footer p{
    font-weight: bold;
    font-size: 10px;
    padding-top: 8px;
}
.socialfoo{
    position: absolute;
    right: 70px;
    bottom: -35px;
    z-index: -1;
}

.socialfoo img:hover{
    position: relative;
    top: -6px;
}
.indexfirstview{
    background-image: url('../images/indexbg.jpg');
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    background-size: cover;
}
.indexfirstview img{
    margin: auto;
    width: 40%;
    padding-top: 150px;
    position: absolute;
    left: 0;
    right: 0;
}
.indexfirstview h3{
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size:31px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.indexsections {
    width: 100%;
    background: white;
    z-index: -999;
}
.indexsectionsh3{
    text-align: center;
    font-size: 30px;
    color: #2e2e2e;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
.indexsectionsp{
    position: relative;
    top: 27%;
}
.knowadyma{
    color: white;
    background: black;
    font-family: 'Montserrat';
    height: 90px;
    text-align: center;
}
.contactbtn{
    margin: 0 auto;
    width: 11%;
    display: block;
    text-decoration: none;
    color: white;
    background: #2e2e2e;
    border-radius: 7px;
    border-bottom: 3px solid #999;
    padding: 9px;
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    /*dada*/
}
.contactbtn:hover{
    background: #CCC;
    color: #2e2e2e;
    font-weight: bold;
}
.contactp{
    text-align: center;
    margin-left:0 !important;
    padding-right: 0 !important;
}
.pspan{
    font-weight: bold;
    font-size:1.4em;
}
/* Secciones Index */
.teaminfo{
    width:310px;
    background:white;
    height:305px;
    -webkit-box-shadow:0 0 4px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow:0 0 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.2);
    display:inline-block;
    vertical-align:top;
    margin:25px 35px 25px 35px;
    position:relative;
    overflow:hidden;
}
.teamdescription{
    width:100%;
    color:#2e2e2e;
    height:84px;
    position:relative;
    top:-3px;
    border-top:1px solid #eee;
}
.teamdescription h3{
    margin-left:15px;
    font-weight:400;
    font-size:14px;
    margin-top:0;
    margin-bottom:0;
    padding-top: 20px;
    text-align:left;
}
.teamdescription p{
    font-weight:400;
    font-size:12px;
    margin-left:15px;
    margin-top:0;
    margin-bottom:0;
    text-align:left;
    width: 80%;
}
.arrow{
    position:relative;
    right:11px;
    float:right;
    top: -41px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    padding:10px;
}
.arrowhover{
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
.socialteam{
    position:absolute;
    margin:15px;
    top:3%;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
.socialteamove{
    position:absolute !important;
    top:35% !important;
    margin:15px !important;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
.socialteam img {
    margin:0;
    width:30px;
    height:30px;
    -webkit-filter: grayscale(1);
}
.socialteam img:hover {
    margin:0;
    width:30px;
    height:30px;
    -webkit-filter: grayscale(0);
}
.slidemg{
    position: absolute;
    width:310px;
    height:221px;
    background: white;
    right:-310px;
    text-align: left;
    color:#2e2e2e;
    font-size:12px;
}
.slidemgin ul{
    padding-left:20px;
    float:left;
    list-style-type: none;
}
.slidemgin{
    right:0;
}
.slidemg h4{
    border-bottom:1px solid #2e2e2e;
    padding:2px 0;
    width:120px;
    margin-left:20px;
}
.slidemgin h4{
    border-bottom:1px solid #2e2e2e;
    padding:2px 0;
    width:120px;
    margin-left:20px;
}
.slidemg p{
    text-align:left;
    margin-left:20px;
    margin-top:5%;
    color:#2e2e2e;
    font-size:12px;
    padding-right:10px;
}
.slidemgin p{
    text-align:left;
    margin-left:20px;
    margin-top:5%;
    color:#2e2e2e;
    font-size:12px;
    padding-right:10px;
}
.slidemg a{
    text-decoration:none;
    font-weight:bold;
    color:#2e2e2e;
}
.slidemgin a{
    text-decoration:none;
    font-weight:bold;
    color:#2e2e2e;
}
.logocontent{
    display:inline-block;
    width:180px;
    height:120px;
    vertical-align: top;
    margin-left:3%;
    margin-right:3%;
}
/*Secciones Interiores*/
.headcontent{
    width: 100%;
    height: 393px;
    z-index: -1;
    position: absolute;
    top: 0px;
    overflow: hidden;
}
.headcontent img{
    width: 100%;
    position: absolute;
    top:0px;
}
.headcontent h3{
    color: white;
    font-family: 'Montserrat';
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 113px;
    left: 0;
    right: 0;
}
.headcontent p{
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 14px;
    position: absolute;
    top: 215px;
    left: 0;
    right: 0;
}
.undercontent{
    margin-top: 29%;
    padding-top: 7%;
    background: white;
}
.undercontent img{
    margin-top: 1.5%;
    margin-left: 6%;
    float: left;
}
.undercontent p{
    margin-left: 5%;
    font-size: 13px;
    padding-bottom: 20px;
    padding-right: 28px;
}
.pright{
    background: #888;
    display:inline-block;
    margin-left: 2%;
    width: 42%;
}
.pright p{
    margin-top: -15px;
    font-size: 0.9em;
    font-weight: bold;
}
.pright h4{
    font-family: 'Montserrat';
    color: white;
    font-size: 1em;
    margin-left: 5%;
}
.pleft{
    display:inline-block;
    vertical-align: top;
    width: 45%;
    margin-right: 4.5%;
    margin-left:2.5%;
}
.minishow{
    width: 100%;
    text-align: center;
    margin-top: 6%;
}
.minishow p{
    width: 100%;
    text-align: center;
    padding-top: 20%;
    margin:0;
}
.minishow li{
    float: left;
    width: 150px;
    height: 150px;
    margin: 12px;
    list-style-type: none;
}
.minishow ul{
    display: block;
    max-width: 1080px;
    margin: 0 auto;
    background: white;
    height: 220px;
}
.contactform{
    width: 500px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 99999;
}
.map{
    border: 0;
    position: relative;
    float: right;
    right: 3%;
    bottom: 420px;
    height:130px;
    border: 10px solid white !important;
    border-radius: 10px;
}
.map:hover{
    z-index:1;
    height: 310px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
.normalinputs{
    border: none;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.21);
    margin: 4px;
    padding: 6px 45px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}
.textboxinput{
    border: none;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.21);
    margin: 4px;
    padding: 20px 49px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}
.inputbutton{
    border: none;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.21);
    margin: 12px;
    padding: 6px 45px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.76);
}
.infls{
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:none;
    opacity: 0;
    text-align: center;
    overflow:scroll;
}
.infls div{
    background: white;
    width: 50%;
    margin: 0 auto;
    margin-top: 13%;
    padding: 65px;
    border-radius: 17px;
    font-size: 13px;
}
.showinfl{
    display:initial;
    opacity: 1;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
@media (max-height: 600px){
    .indexfirstview img {
    width: 30%;
    padding-top: 15px;
    }
    .indexfirstview h3 {
    bottom: 22px;
    }
    .menunavtrigger{
        padding: 21px 0px;
        text-align: center !important;
        height: 40px;
        background: black;
        margin: 0;
        left: 0;
        right: 0;
        border: none;
        color: #fff;
        font-weight: bolder;
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-size: 1.6em;
        display: block;
        border-bottom:3px solid white;
    }
    nav ul {
        margin: 0 auto;
        list-style-type: none;
        max-width: 860px;
        background: black;
        width:100%;
        padding:0;
    }
    nav ul li {
        padding-top: 10px;
        padding-bottom: 10px;
        margin:0;
        padding-left: 7px;
        border-top: 1px solid white;
        border-left:none;
        width:97%;
        float:none;
    }
    nav ul li a {
        font-size:0.7em;
    }
    .headcontent{
        position:relative;
        height:125px;
    }
    .undercontent{
        padding-top: 3%;
        margin-top: 0;
    }
    .minishow ul{
        max-width: 230px;
        position:relative;
        left:0;
        right:0;
    }
    .headcontent h3{
        font-size: 1.7em;
        top: 17px;
    }
    .menunavtrigger{
        padding-top: 5px;
        padding-bottom: 5px;
        height: 30px;
    }
    #expand{
       height:0;
       overflow:hidden;
    }
    .navliesp{
        height:1.7em;
        width:97%;
    }
    .two{
        padding-left: 20%;
        border-right:none;
        width:300px;
    }
    .two:hover{
        background:none;
    }
    .submenul {
        width: 320px;
        margin-bottom: -9px;
        margin:0;
    }
    .navlisub{
        left:0;
        border-right: none;
        width:98px;
    }
    .map{
        display:none;
    }
    footer{
        height:50px;
    }

}
@media (min-width: 300px) and (orientation:portrait){
    .indexfirstview{
        background-position: 35%;
    }
    .knowadyma{
        height:160px;
    }
    .indexfirstview img {
        width: 55%;
        padding-top: 50px;
    }
    .menunavtrigger{
        padding: 21px 0px;
        text-align: center !important;
        height: 40px;
        background: black;
        margin: 0;
        left: 0;
        right: 0;
        border: none;
        color: #fff;
        font-weight: bolder;
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-size: 1.6em;
        display: block;
        border-bottom:3px solid white;
    }
    nav ul {
        margin: 0 auto;
        list-style-type: none;
        max-width: 860px;
        background: black;
        width:100%;
        padding:0;
    }
    nav ul li {
        padding-top: 10px;
        padding-bottom: 10px;
        margin:0;
        padding-left: 7px;
        border-top: 1px solid white;
        border-left:none;
        width:97%;
        float:none;
    }
    nav ul li a {
        font-size:0.7em;
    }
    .headcontent h3{
        font-size: 1.7em;
        top: 17px;
    }
    .menunavtrigger{
        padding-top: 5px;
        padding-bottom: 5px;
        height: 30px;
    }
    #expand{
       height:0;
       overflow:hidden;
    }
    .navliesp{
        height:1.7em;
        width:97%;
    }
    .two{
        padding-left: 20%;
        border-right:none;
        width:300px;
    }
    .two:hover{
        background:none;
    }
    .submenul {
        width: 320px;
        margin-bottom: -9px;
        margin:0;
    }
    .navlisub{
        left:0;
        border-right: none;
        width:98px;
    }
    .headcontent{
        height:200px;
        position:relative;
    }
    .headcontent img{
        width:170%;
    }
    .headcontent h3{
        top:12%;
    }
    .headcontent p{
        top:65%;
    }
    .indexfirstview h3{
        bottom: 125px;
    }
    .teaminfo{
        margin: 25px 0px 25px 0px;
    }
    .pleft{
        display:block;
        vertical-align: top;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .pright{
        background: #bfbfbf;
        display:inline-block;
        margin-left: 0;
        width: 100%;
    }
    .undercontent{
        margin-top:10%;
        padding-top: 0%;
    }
    .undercontent p {
        font-size: 13px;
        padding-bottom: 20px;
        padding:0;
    }
    .map{
        display:none;
    }
    footer{
        height:45px;
    }
}
@media (min-width:1500px){
    .teamcontainer{
        max-width: 1200px;
        margin: 0 auto;
    }
}
@media (min-width:1700px){
    .undercontent {
        margin-top: 21%;
        padding-top: 2%;
        background: white;
    }
}
